@font-face {
  font-family: 'Helvetica';
  src: url('../font/Helvetica.eot?#iefix') format('embedded-opentype'),  
  url('../font/Helvetica.woff') format('woff'), 
  url('../font/Helvetica.ttf')  format('truetype'), 
  url('../font/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}
